html, body{
    min-height: 100%;
}
body{
    position: relative;
}

/*#search-indicator{
    position: absolute;
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    margin: -25px auto auto auto;
}*/