html, body{
    min-height: 100%;
}
body{
    position: relative;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

          .loader {
            background: url('../img/loader.gif') no-repeat;
            width: 400px;
            height: 400px;
            margin-left: -200px;
            left: 50%;
            position: absolute;
            display: none;
          }

#header{
    position: relative;
    padding-bottom: 20px;
}

#logo{
    position: absolute;
    top: 55px;
    left: 50%;
    margin-left: -500px;
}

#query{
    width: auto;
    display: block;
    margin: 50px auto 0 auto;
    min-width: 400px;
    max-width: 400px;
    background-color: #e6e6e6;
    border-radius: 4px;
    padding: 10px;
    border: 0;
    position: relative;

  font-family : Open Sans;
  font-style : italic;
  font-size : 16px;
  line-height : 29.83px;
  letter-spacing : 0.21px;
  color : #B3B3B3;
  color : rgb(179, 179, 179);
}


.results-container{
    position: relative;
    padding: 15px;
}

#results-dark{
}

.result-detail-content{
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    padding: 15px;
}

.result-detail-content .result-content{
    background-color: #ffffff;
    padding-bottom: 30px;
}

a.result{
    display: block;
    margin: 0 0 10px 0;
}

.result-back-btn{
      font-family : Open Sans;
  font-style : italic;
  font-size : 17px;
  line-height : 27px;
  letter-spacing : 0.22px;
  color : #000000;
  color : rgb(0, 0, 0);
}

.result .result-title{
  font-family : Open Sans;
  font-size : 17px;
  line-height : 27px;
  letter-spacing : 0.22px;
  color : #000000;
  color : rgb(0, 0, 0);
}

.result .result-source, .result .result-date{
  font-family : Open Sans;
  font-size : 10px;
  letter-spacing : 1px;
  text-transform : uppercase;
  color : #666666;
  color : rgb(102, 102, 102);
}

.result-detail-content .result-title{
      font-family : Open Sans;
  font-weight : bold;
  font-size : 17px;
  line-height : 27px;
  letter-spacing : 0.22px;
  color : #000000;
  color : rgb(0, 0, 0);
}

/*#search-indicator{
    position: absolute;
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    margin: -25px auto auto auto;
}*/

@media (min-width: 769px) {
    .web-logo{
        float: left;
        width: 45px;
        height: 45px;
    }

    #query{
        /*margin-left: 350px;*/
    }

    .results-container{
        width: 50%;
        float: left;
        overflow-x:hidden;
        overflow-y:auto;
    }
}

@media (min-width: 993px) {

}

@media (min-width: 1201px) {

}
