html, body{
    min-height: 100%;
}
body{
    position: relative;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

/*OVERRRIDE BOOTSTRAP*/
#query{
    width: auto;
    display: block;
    margin: 0 auto;
    max-width: 400px;
    background-color: #e6e6e6;
    border-radius: 4px;
    padding: 10px;
    border: 0;
}


.results-container{
    position: relative;
}

#results-dark{
    background-color: red;
}

.result-detail-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
}

a.result{
    display: block;
    margin: 0 0 10px 0;
}

/*#search-indicator{
    position: absolute;
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    margin: -25px auto auto auto;
}*/

@media (min-width: 769px) {
    .results-container{
        width: 50%;
        float: left;
    }
}

@media (min-width: 993px) {

}

@media (min-width: 1201px) {

}